<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&family=Mulish&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>homepage</title>
</head>

<body>
    <header>
        <a href="/">OURspace</a>
        <form id="search">
            <input type="text" placeholder="find user" id="find-user">
            <button class="accent btn" id="find-user-btn">Search</button>
        </form>
        {{!-- TODO: create a log out button that only appears when logged in --}}
    </header>

    <main>
        {{{body}}}
    </main>
<script src="/js/script.js"></script>
</body>
</html>