<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>

<body>
    <header>
        <a href="#">OURspace</a>
        <form>
            <input type="text" placeholder="find user" id="find-user">
            <button id="find-user-btn">Search</button>
        </form>
    </header>

    <main>
        {{!-- <div>OURspace</div>
        <div class="login-section">
            <form class="login">
                <input type="text" id="login">
                <input type="text" id="password">
            </form>
            <button id="sign-in">Log in</button>
            <button id="sign-up">Sign up</button>
        </div>
        <div class="forgot">Forgot your password? Too bad.</div> --}}
    </main>
</body>
</html>