<div class="big-brand">OURspace</div>
<section class="login-section">
<form class="login">

    <div class="sign-in-section">
    <label for="login" class="input-label">Username</label>
    <input type="text" id="login" />
    </div>

    <div class="sign-in-section">
    <label for="password" class="input-label">Password</label>
    <input type="password" id="password" />
    </div>

</form>
<div class="buttons-login">
    <a class="accent-btn big-btn" id="sign-in">log in</a>
    <a href="#sign-up" class="accent-btn big-btn">sign up</a>
</div>
<div class="forgot-password">Forgot your password? Too bad.</div>
</section>