<div class="big-brand">OURspace</div>
<section class="login-section">
    <form class="login">

        <label for="login">Username:</label>
        <input type="text" id="login">
        
        <label for="password">Password:</label>
        <input type="password" id="password">

    </form>
    <div class="buttons-login">
    <a class="accent-btn big-btn" id="sign-in">log in</a>
    <a href="#sign-up" class="accent-btn big-btn" id="sign-up">sign up</a>
    </div>
    <div class="forgot-password">
        Forgot your password? Too bad.
    </div>
</section>