<main>
    <div class="profileview">
        <div class="profileimg">
            <img src="${{profile_img}}">
        </div>
        <div class="personame">
            <p>
                ${{fistName}}
                <br>
                ${{lastName}}
            </p>
        </div>
        <div class="bio">
            <p>${{bio}}</p>
        </div>
    </div>
    
    <div class="friends">

    </div>

    <div class="interests">

    </div>

    <div class="wall">

    </div>
</main>