<ul class="search-results">
    <li class="search-result">
        <div class="user-match">
            <a href="">{{username}}</a>
        </div>
        <button class="add-friend">add friend</button>
    </li>
</ul>