<div class="big-brand">OURspace</div>
<section class="sign-up-section">
    <form class="sign-up">
        <div class="form-input">
            <div>
                <label for="create-username" class="input-label">Username:</label>
                <input type="text" id="create-username">
            </div>
            <p for="create-username" class="sign-up-requirement">Maximum length: 25 characters</p>
        </div>
        <div class="form-input">
            <div>
                <label for="create-firstname" class="input-label">First name:</label>
                <input type="text" id="create-firstname">
            </div>
        </div>
        <div class="form-input">
            <div>
                <label for="create-lastname" class="input-label">Last name:</label>
                <input type="text" id="create-lastname">
            </div>
        </div>
        <div class="form-input">
            <div>
                <label for="create-password" class="input-label">Password:</label>
                <input type="password" id="create-password">
            </div>	
            <p for="create-username" class="sign-up-requirement">Must contain 8 or more characters</p>
        </div>
        <div class="form-input">
            <div>
                <label for="confirm-password" class="input-label">Confirm password:</label>
                <input type="password" id="confirm-password">
            </div>	
            <p for="create-username" class="sign-up-requirement">Passwords must match</p>
        </div>
    </form>
    <a href="#log-in" class="accent btn big-btn" id="sign-up">sign up</a>
</section>